name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ] # Asegúrate que tu rama sea 'main'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          # Le decimos a Node dónde buscar el package-lock.json para el caché
          cache-dependency-path: './Tec-Data-Collections/package-lock.json'

      - name: Install dependencies
        # Entramos a la carpeta antes de instalar
        working-directory: ./Tec-Data-Collections
        run: npm ci

      - name: Build
        # Entramos a la carpeta antes de construir
        working-directory: ./Tec-Data-Collections
        run: npm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # IMPORTANTE: Ahora la carpeta dist está dentro de la subcarpeta
          path: './Tec-Data-Collections/dist'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
